@use "./Essentials/layout";
@use "./Essentials/Varibles" as v;
@use "./Essentials/Minxes";

.links {
  @extend %flex-row;
  gap: 15px;
  margin-top: 100px;

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.about-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;

  .about-content {
    @extend %flex-column;
    justify-content: center;
    gap: 20px;

    h1 {
      font-size: 45px;
      font-weight: 600;
    }
  }

  .about-img-wrapper img {
    width: 130%;
    height: 100%;
  }
}

.about-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20% 0px;
  gap: 30px;

  .about-items {
    @extend %flex-column;
    align-items: center;
    border: 1px solid #000;
    padding: 30px;
    gap: 10px;

    .icon-wrapper {
      @extend %flex-center;

      padding: 5px;
      background-color: #000;
      border: 10px solid #dcdcdcdc;
      border-radius: 50%;
    }
  }
}

.members {
  @extend %flex-between;
  flex-flow: row wrap;

  .member-items {
    width: 350px;

    .member-content {
      @extend %flex-column;
      gap: 10px;

      h1 {
        font-weight: 600;
      }

      ul {
        @extend %flex-row;
        gap: 15px;

        li {
          list-style: none;

          i {
            font-size: 20px;
          }
        }
      }
    }
    .members-img-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #dcdcdc;
      padding-top: 20px;
    }
  }
}

.service {
  margin: 200px 0px !important;
}
