@use "./Essentials/Varibles" as v;
@use "./Essentials/Minxes";
@use "./Essentials/layout";

.contact {
  @extend %flex-row;
  margin: 100px 0px;
  //   justify-content: space-between;
  gap: 30px;

  .contact-content {
    @extend %flex-column;
    gap: 25px;
    padding: 40px 35px;
    max-width: 270px;
    box-shadow: 0px 0px 15px -10px;
    border-radius: 15px;

    .content-items {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-bottom: 1px solid #000;
      padding: 25px 0px;

      .content-01 {
        @extend %flex-row;
        align-items: center;
        gap: 25px;

        i {
          padding: 10px;
          background-color: v.$secondary2;
          border-radius: 50%;
          color: #fff;
          font-size: 18px;
        }
      }
      .content-02 {
        @extend %flex-column;
        gap: 16px;
      }
    }
  }
  .contact-form {
    @extend %flex-column;
    border-radius: 10px;
    gap: 30px;
    padding: 40px 30px;
    width: 100%;
    box-shadow: 0px 0px 10px -5px;

    .form-01 {
      @extend %flex-row;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      input {
        width: 29%;
        font-size: 16px;
        border-radius: 5px;
        background-color: #f5f5f5;
        border: none;
        padding: 18px 10px;

        &:focus {
          outline: none;
        }
      }
    }
    .form-02 {
      textarea {
        width: 97%;
        height: 40vh;
        padding: 10px;
        font-size: 17px;
        background-color: #f5f5f5;
        border-radius: 5px;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
