@use "./Essentials/layout";
@use "./Essentials/Varibles" as v;
@use "./Essentials/Minxes";

.sign-up-container {
  form {
    .form-03 {
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center !important;

      a {
        text-decoration: none;
        color: v.$secondary2;
        // font-weight: 500;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .sign-up-container {
    .form-wrapper {
      form {
        .form-03 {
          display: flex;
          flex-direction: column !important;
        }
      }
    }
  }
}
