@use "./Essentials/layout";
@use "./Essentials/Varibles" as v;
@use "./Essentials/Minxes";

.sign-up-container {
  @extend %flex-row;
  max-width: 90%;
  margin: 55px 0px;

  .img-wrapper img {
    max-width: 100%;
  }

  .form-wrapper {
    width: 40%;
    @extend %flex-column;
    align-items: center;
    justify-content: center;

    form {
      @extend %flex-column;
      gap: 30px;
      width: 70%;

      .form-01 {
        @extend %flex-column;
        gap: 10px;

        h1 {
          font-weight: 600;
          font-size: 30px;
        }
        p {
          font-size: 14px;
        }
      }

      .form-02 {
        @extend %flex-column;
        gap: 40px;

        input {
          height: 32px;
          border: none;
          border-bottom: 1px solid black;
          padding: 5px 5px;
          font-size: 16px;

          &:focus {
            outline: none;
          }
        }
      }

      .form-03 {
        @extend %flex-column;
        gap: 10px;

        .sign-up-button {
          @extend %flex-row;
          align-items: center;
          font-size: 14px;
          justify-content: center;
          gap: 7px;
          padding: 14px 48px;
          background: transparent;
          border: 1px solid black;
        }
      }
      .form-04 {
        @extend %flex-center;
        gap: 10px;

        a {
          text-decoration: none;
          color: v.$secondary2;
        }
      }
    }
  }
}
