@use "./Essentials/Varibles" as v;
@use "./Essentials/Minxes";
@use "./Essentials/layout";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.top-header {
  @extend %flex-row;
  background-color: #000;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 15px 0px;

  span {
    padding: 0px 15px;
    font-weight: bold;
    text-decoration: underline;
  }

  select {
    background-color: transparent;
    color: white;
    border: none;
    position: absolute;
    right: 5%;
    font-size: 15px;

    &:focus {
      outline: none;
    }

    option {
      color: black;
      width: 300px;
    }
  }
}

header {
  width: 100%;
  @extend %flex-center;
  border-bottom: 1px solid black;

  .hamburger-wrapper {
    display: none;
  }
  .hamburger-menu {
    display: none;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
  }
}
.header-wrapper {
  width: 100%;
  max-width: 1170px;
}

.navigation {
  @extend %flex-between;
  padding: 20px 20px;

  ul {
    @extend %flex-row;
    gap: 20px;
    align-items: center;

    li {
      list-style: none;

      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
  .nav-tools {
    @extend %flex-row;
    align-items: center;

    .search-wrapper {
      @extend %flex-row;
      align-items: center;
      gap: 10px;
      padding: 7px;
      background-color: #fefaf1;

      input {
        padding: 5px 10px;
        border: none;
        background-color: transparent;
      }
      i {
        font-size: 18px;
      }
    }
    .nav-tools-icon-wrapper {
      @extend %flex-row;
      align-items: center;
      gap: 10px;
      margin-left: 15px;

      i {
        font-size: 25px;
      }
    }
  }
}

main {
  width: 100%;
  @extend %flex-row;
  justify-content: center;
  .main-wrapper {
    padding: 0px 50px;
    width: 100%;
    max-width: 1170px;
  }

  .hero {
    @extend %flex-row;
    gap: 20px;
    .hero-img-wrapper {
      padding: 40px 16px;

      img {
        width: 100%;
      }
    }

    .hero-content {
      @extend %flex-column;
      gap: 16px;
      margin: 0;
      padding: 40px 16px;
      border-right: 1px solid black;

      li {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        width: 217px;
        height: 20px;

        i {
          font-size: 16px;
        }

        a {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
  .flash-sales {
    @extend %flex-column;
    margin-top: 10vh;
    gap: 24px;

    .flash-01 {
      @extend %flex-row;
      align-items: center;
      gap: 20px;

      h1 {
        font-size: 20px;
        color: v.$secondary2;
      }

      .today-box {
        width: 20px;
        height: 40px;
        background-color: v.$secondary2;
        border-radius: 5px;
      }
    }
    .flash-02 {
      @extend %flex-row;
      justify-content: space-between;
      align-items: center;

      .flash-02-content-1 {
        @extend %flex-row;
        gap: 87px;
        align-items: center;
      }

      h1 {
        font-size: 36px;
      }

      .flash-timer {
        gap: 15px;
        @extend %flex-row;
        align-items: center;

        h1 {
          color: v.$secondary2;
        }

        div {
          @extend %flex-column;
          h1 {
            margin: 0;
            padding: 0px 10px;
            color: #000;
            font-weight: bold;
            font-size: 36px;
          }

          p {
            margin: 0px;
            font-weight: 600;
          }
        }
      }

      .flash-arrows {
        display: flex;
        gap: 20px;

        i {
          background-color: v.$secondary;
          padding: 15px;
          border-radius: 50%;
          font-size: 20px;
        }
      }
    }
    .flash-03 {
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
      gap: 30px;

      .flash-review {
        height: 20px;
      }

      h1 {
        font-weight: 600;
      }
    }
  }

  .button-wrapper {
    margin-top: 24px;
    width: 100%;
    @extend %flex-center;
    padding: 30px 0px;
    border-bottom: 1px solid #000;

    button {
      @extend %primary-button;
    }
  }

  .categories {
    max-width: 100%;
    @extend %flex-column;
    margin-top: 10vh;

    .categories-01 {
      @extend %flex-row;
      align-items: center;
      gap: 20px;

      p {
        font-size: 20px;
        color: v.$secondary2;
        font-weight: bold;
      }

      div {
        width: 20px;
        height: 40px;
        background-color: v.$secondary2;
        border-radius: 5px;
      }
    }
    .categories-02 {
      @extend %flex-between;

      .categories-arrows {
        @extend %flex-row;
        gap: 15px;
        align-items: center;

        i {
          background-color: v.$secondary;
          padding: 10px;
          border-radius: 50%;
        }
      }
    }

    .categories-items-wrapper {
      padding: 30px 0px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      gap: 20px;
      border-bottom: 1px solid #000;

      .categories-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        padding: 20px 0px;
        width: 150px;
        height: 100px;
      }
    }
  }
  .best-selling {
    @extend %flex-column;
    margin-top: 150px;
    gap: 30px;

    .best-selling-01 {
      @extend %flex-row;
      align-items: center;
      gap: 20px;

      h1 {
        font-size: 20px;
        color: v.$secondary2;
      }

      div {
        width: 20px;
        height: 40px;
        border-radius: 5px;

        background-color: v.$secondary2;
      }
    }
    .best-selling-02 {
      @extend %flex-between;
      align-items: center;

      .best-selling-button {
        @extend %primary-button;
      }
    }
    .best-selling-items-wrapper {
      gap: 30px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      h1 {
        margin-top: 16px;
      }

      .flash-review {
        height: 20px;
      }
    }
  }
  .experience {
    @extend %flex-between;
    align-items: center;

    margin-top: 150px;
    align-items: center;
    padding: 50px;
    max-width: 100%;
    background-color: #000;
    color: #fff;

    img {
      width: 50%;
    }

    .experience-content {
      P {
        color: v.$primary;
        font-weight: bold;
      }

      h1 {
        font-size: 50px;
      }
      .experience-items-wrapper {
        @extend %flex-row;
        align-items: center;
        gap: 20px;

        .experience-items {
          @extend %flex-column;
          align-items: center;
          justify-content: center;
          background-color: #363738;
          width: 65px;
          height: 65px;
          padding: 5px;
          border-radius: 50%;

          p {
            margin: 0;
            padding: 0;
            font-size: 15px;
            font-weight: bold;
            color: #000;
          }
        }
      }

      .experience-button {
        @extend %secondary-button;
        margin-top: 40px;
      }
    }
  }

  .product-items-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    gap: 30px;

    .flash-new {
      @extend %flex-center;
      @extend %secondary-button;
      position: absolute;
      padding: 3px 10px !important;
      font-size: 14px;
      top: 15px;
      left: 15px;
    }

    .flash-content h1 {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
      margin-top: 16px;
    }
    .flash-review {
      margin: 8px 0px;
      gap: 5px !important;

      span {
        color: v.$secondary2;
      }
      p {
        margin: 0;
      }
    }
    .flash-color-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 7px;
      margin-top: 5px;

      div {
        border-radius: 50%;
        padding: 10px;
        background-color: v.$secondary2;
      }
      #outline {
        padding: 7px !important;
        border: 2px solid #fff;
        background-color: #000;
        outline: #000 solid 2px;
      }
    }
  }

  .features {
    @extend %flex-column;
    gap: 20px;
    margin-top: 150px;

    .features-01 {
      @extend %flex-row;
      align-items: center;
      gap: 20px;

      div {
        width: 20px;
        height: 40px;
        background-color: v.$secondary2;
        border-radius: 5px;
      }

      h1 {
        font-size: 20px;
        color: v.$secondary2;
      }
    }

    .features-items-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2);
      gap: 30px;
      max-width: 100%;
      height: 80vh;
      color: #fff;

      .features-items {
        position: relative;
        z-index: -2;
        width: 100%;
        height: 100%;
        @extend %flex-row;
        align-items: end;
        background-color: #0d0d0d;

        .features-items-content {
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 32px;

          p {
            font-weight: 300;
          }

          span {
            font-weight: 700;
            text-decoration: underline;
          }
        }
      }

      .features-items-01 {
        grid-column: 1/3;
        grid-row: 1/3;
      }
      .features-items-02 {
        grid-column: 3/5;
        grid-row: 1/2;

        img {
          height: 100%;
          right: 0 !important;
        }
        .features-items-content {
          padding: 24px;

          p {
            max-width: 300px;
          }
        }
      }
      .features-items-03 {
        grid-column: 3/4;
        .features-items-content {
          padding: 24px;
        }
      }
      .features-items-04 {
        .features-items-content {
          padding: 24px;
        }
      }

      img {
        position: absolute;
        bottom: 0;
        left: 10%;
        height: 60%;
        width: 80%;
        z-index: -1;
      }
    }
  }
  .service {
    @extend %flex-row;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 90px;
    margin: 100px 0px;

    .service-items {
      @extend %flex-column;
      gap: 24px;

      h2 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }

    .icon-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;

      img {
        padding: 5px;
        background-color: #000;
        border: 10px solid #dcdcdc;
        border-radius: 50%;
      }
    }
  }
}

footer {
  @extend %flex-column;

  background-color: #000;
  color: #fff;

  .footer-content {
    @extend %flex-row;
    flex-flow: row wrap;
    padding: 80px 20px;
    justify-content: center;
    gap: 90px;
    width: calc(100% - 40px);

    .footer-items {
      @extend %flex-column;
      gap: 24px;

      h1 {
        font-size: 25px;
      }
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
        font-weight: 600;
      }

      div {
        @extend %flex-column;
        gap: 16px;
      }
    }

    .footer-item-01 .footer-input-wrapper {
      @extend %flex-row;
      justify-content: space-around;
      align-items: center;
      border: 2px solid #fff;
      padding: 10px 15px;
      border-radius: 5px;

      input {
        background: transparent;
        border: none;
        color: #fff;
        padding: 5px 5px;
      }
    }
    .footer-item-05 {
      p {
        opacity: 80%;
      }
      .QR-wrapper {
        @extend %flex-row;

        div {
          @extend %flex-column;
        }
      }
      .footer-social-media {
        @extend %flex-row;
        justify-content: space-around;
        width: 100%;

        li {
          list-style: none;
        }
      }
    }
  }
  .bottom-footer {
    width: 100%;
    @extend %flex-row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    p {
      color: #fefaf1;
    }
  }
}

.flash-items {
  .flash-img-wrapper {
    @extend %flex-center;
    position: relative;
    background: v.$secondary;
    padding: 20px;
    height: 50%;
    width: 200px;

    img {
      height: 70%;
    }

    .flash-offsale {
      top: 10px;
      left: 10px;
      background-color: v.$secondary2;
      padding: 5px 7px;
      color: #fff;
      font-size: 12px;
      border-radius: 5px;
    }

    .flash-img-icons {
      @extend %flex-column;
      gap: 5px;
      top: 15px;
      right: 5px;

      i {
        background-color: #333;
        padding: 5px;
        border-radius: 50%;
        text-align: center;
      }
    }

    div {
      position: absolute;
    }
  }
  .flash-content {
    .sales-prices {
      @extend %flex-row;
      margin: 8px 0px;
      gap: 12px;

      p {
        margin: 0;
        color: v.$secondary2;
      }

      span {
        text-decoration: line-through;
        opacity: 50%;
      }
    }
    div {
      @extend %flex-column;

      div {
        @extend %flex-row;
      }
    }
    h1 {
      font-size: 16px;
    }

    .flash-review {
      @extend %flex-row;
      align-items: center;
      gap: 10px;

      p {
        opacity: 50%;
      }

      ul {
        @extend %flex-row;
        margin: 0;
        padding: 0px 5px;
        gap: 3px;

        li {
          list-style: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .top-header {
    flex-direction: column !important;
    gap: 10px;

    select {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  main {
    .main-wrapper {
      padding: 0px;
    }
    section {
      padding: 0px 20px;
    }
    .hero {
      display: flex;
      flex-direction: column-reverse;

      .hero-content {
        display: flex;
        flex-direction: row;
        border: none;
        padding: 20px 0px;

        li {
          text-align: center;

          i {
            display: none;
          }
          a {
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .top-header {
    display: none;
  }
  header {
    .navigation .nav-tools .search-wrapper {
      margin-right: 40px;
    }
    .navigation .nav-tools .nav-tools-icon-wrapper {
      display: none;
    }
    .header-links {
      display: none;
    }
  }
  header .hamburger-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 3;
  }

  #hamburger-toggle {
    display: block !important;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 3;
    width: 20px;
    height: 20px;
    opacity: 0;
  }

  .hamburger-wrapper i {
    position: fixed;
    top: 10px;
    right: 0px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    z-index: 2;
    color: v.$secondary2;
  }
  #hamburger-toggle:checked {
    border: none;
  }
  #hamburger-toggle:checked + .hamburger-menu,
  #hamburger-toggle:checked + .hamburger-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .hamburger-menu label {
    position: relative;
    z-index: 3;
  }
  .hamburger-menu label ul {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #header-login {
    display: none;
  }
  .hamburger-menu li {
    position: relative;
  }
  .hamburger-menu ul li a {
    color: white;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
  }
  .burger-menu label ul {
    display: flex;
    flex-direction: column;
  }

  main {
    .hero {
      .hero-content {
        justify-content: center;
        flex-flow: row wrap;
        gap: 10px;

        li {
          p {
            width: 100%;
          }
          a {
            width: 100%;
          }
        }
      }
    }

    .flash-sales {
      .flash-02 {
        .flash-timer {
          display: none;
        }
        .flash-arrows {
          display: none;
        }
      }
    }
    .categories {
      .categories-02 {
        .categories-arrows {
          display: none;
        }
      }
    }

    .experience {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 50px;

      .experience-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        h1 {
          font-size: 30px;
        }
      }
      .experience-items-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .experience-items {
          width: 50px;
          height: 50px;
        }
      }
    }
    .features {
      .features-items-container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;

        .features-items {
          width: 300px;
          padding: 0 !important;
          margin: 0;
          height: 200px;

          h1 {
            font-size: 17px;
          }
          p {
            font-size: 13px;
          }
        }
        .features-items-03,
        .features-items-04 {
          img {
            width: 40%;
            right: 10% !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    .navigation {
      align-items: center;
      justify-content: space-around;
      gap: 5px;
      max-width: 100%;

      .hamburger-wrapper i {
        right: -13px;
      }
      .nav-tools {
        width: 200px;
        .search-wrapper {
          input {
            margin: 0px;
            width: 120px;
          }
        }
      }
    }
    h1 {
      font-size: 17px;
    }
  }

  main {
    .hero {
      .hero-content {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        font-size: 14px;
        gap: 5px;
      }
    }

    .flash-sales {
      .flash-01 {
        justify-content: center;
      }
      .flash-02 {
        justify-content: center;

        h1 {
          font-size: 25px;
        }
      }
    }

    .categories {
      .categories-01 {
        justify-content: center;
      }
      .categories-02 {
        justify-content: center;

        h1 {
          font-size: 25px;
        }
      }
    }
    .best-selling {
      .best-selling-01 {
        justify-content: center;
      }
      .best-selling-02 {
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h1 {
          font-size: 25px;
        }
      }
    }
    .experience {
      .experience-items-wrapper {
        flex-flow: row wrap;
        .experience-items {
        }
      }
    }
  }
  footer .footer-content .footer-items {
    text-align: center;
  }
}
