@use "../Essentials/layout";
@use "../Essentials/Varibles" as v;
@use "../Essentials/Minxes";

.links {
  @extend %flex-row;
  padding: 0px 10px;
  gap: 15px;
  margin-top: 100px;

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.about-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 100%;

  .about-content {
    @extend %flex-column;
    justify-content: center;
    gap: 20px;

    h1 {
      font-size: 45px;
      font-weight: 600;
    }
  }

  .about-img-wrapper img {
    width: 90%;
    height: 100%;
  }
}

.about-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 20% 0px;
  gap: 30px;

  .about-items {
    @extend %flex-column;
    align-items: center;
    border: 1px solid #000;
    padding: 30px;

    width: 190px;
    gap: 10px;

    .icon-wrapper {
      @extend %flex-center;

      padding: 5px;
      background-color: #000;
      border: 10px solid #dcdcdcdc;
      border-radius: 50%;
    }
  }
}

.members {
  @extend %flex-between;
  justify-content: space-around !important;
  flex-flow: row wrap;
  gap: 10px;

  .member-items {
    width: 350px;

    .member-content {
      @extend %flex-column;
      gap: 10px;

      h1 {
        font-weight: 600;
      }

      ul {
        @extend %flex-row;
        gap: 15px;

        li {
          list-style: none;

          i {
            font-size: 20px;
          }
        }
      }
    }
    .members-img-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #dcdcdc;
      padding-top: 20px;
    }
  }
}

.service {
  margin: 200px 0px !important;
}

@media screen and (max-width: 900px) {
  .links {
    // padding: 20px;
  }
  main {
    // padding: 20px;
    .main-container {
      // padding: 20px;

      section {
        padding: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    .links {
      padding: 0px 10px;
    }
    .main-container {
    }
  }
  .members {
    .member-items {
      width: 90%;
      padding: 0px;

      .members-img-wrapper {
        img {
          width: 100%;
        }
      }
    }
  }
  .about-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column !important;
    gap: 20px;
    margin-top: 50px;

    .about-content {
      justify-content: center;
      text-align: center;
    }

    .about-img-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
